#testSelector {
  width: 200px;
}

#errorMessage {
  color: #ee3333;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
  max-width: 400px;
}

#getButton {
  width: 120px;
  height: 40px;
  background-color: #252570;
  border-radius: 10px;
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
}

span {
  color: #e6e6e6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

#selectorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #1d1d40;
  padding: 20px;
  border-radius: 10px;
}

#title {
  color: #e6e6e6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#plotContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  align-items: center;
}

img {
  width: 90%;
}

body {
  margin: 0;
  background-color: #0a0a26;
  display: flex;
  justify-content: center;
}

html,
body,
#root {
  height: 100%;
}
